name: Delete All Issues

on:
  workflow_dispatch:

permissions: write-all

jobs:
  delete_issues:
    runs-on: ubuntu-latest
    steps:
      - name: Delete all issues
        env:
          GITHUB_TOKEN: ${{ secrets.DELETE_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: bash delete_all_issues.sh
